<div id="container">

  <app-resource></app-resource>

  <!--  <mat-expansion-panel id="newResource" hideToggle>-->
  <!--    <mat-expansion-panel-header>-->
  <!--      <mat-panel-title>-->
  <!--new resource:-->
  <!--      </mat-panel-title>-->
  <!--      <mat-panel-description>-->
  <!--&lt;!&ndash;        summary&ndash;&gt;-->

  <!--        add new resource-->
  <!--      </mat-panel-description>-->
  <!--    </mat-expansion-panel-header>-->
  <!--&lt;!&ndash;hidden&ndash;&gt;-->
  <!--  </mat-expansion-panel>-->
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          This is the expansion title
        </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div id="newResourceForm">
        <div id="main_resource">

          <mat-form-field id="resource_filed" appearance="fill">
            <mat-label>resource type</mat-label>
            <mat-select [formControl]="resourceControl" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let animal of animals" [value]="animal">
                {{animal.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="resourceControl.hasError('required')">Please choose an animal</mat-error>
            <mat-hint>{{resourceControl.value?.sound}}</mat-hint>
          </mat-form-field>


          <mat-icon id="check">check</mat-icon>



        </div>
      </div>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>

</div>
