<div id="new_main_resource">

  <mat-form-field id="resource_filed" appearance="fill">
    <mat-label>resource type</mat-label>
    <mat-select [formControl]="resourceControl" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let animal of animals" [value]="animal">
        {{animal.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="resourceControl.hasError('required')">Please choose an animal</mat-error>
    <mat-hint>{{resourceControl.value?.sound}}</mat-hint>
  </mat-form-field>


  <mat-icon id="check">check</mat-icon>

  <div id="newResourceForm">

  </div>
</div>
