/*#options{*/
/*  width: 100%;*/
/*}*/
/*#check{*/
/*  position: relative;*/
/*  scale: 200%;*/
/*  color: green;*/
/* left:95%*/
/*}*/
.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
.mat-list-item{
 margin-top: 1.75%;
}
.mat-form-field{
}

#addProperty{

  width: 1000px;
  margin-left: 17px;
}
#addPropertyButton{
  bottom: 6.5px;
  height: 50px;
  width: 50px;
  margin-left: 5px;
  border: none;
  border-bottom: black;
}
#addPropertyButton:hover{
  background-color: lightblue;
}
#propertyType{
  margin-right: 1rem;
  /*width: 20rem;*/
}
.mat-button-toggle-group{
/*  border-top-left-radius: 0;*/
/*  border-top-right-radius: 0;*/
/*top: 0;*/
}
#valueType {
margin-left: 2rem;

}
mat-radio-button{
  margin-right: 1rem;
}
