<mat-stepper orientation="vertical" [linear]="false" #stepper>
  <!------------------------------------------------------------------------------------------------------------  resource type-->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>select resource type</ng-template>

      <mat-form-field mat-select-trigger="" id="resource_filed" appearance="fill">
        <mat-label>resource type</mat-label>
        <mat-select [formControl]="firstFormGroup.controls.resourceType" required><!--          <mat-select [formControl]="secondFormGroup.controls.key">-->
          <mat-option>--</mat-option>
          <mat-option *ngFor="let resource of resources|keyvalue" value="{{resource.key}}">
            {{resource.key}}
          </mat-option>
        </mat-select>
        <!--        <mat-error *ngIf="resourceControl.hasError('required')">Please choose a resource</mat-error>-->
        <mat-hint>{{resourceControl.value?.logicalName}}</mat-hint>
      </mat-form-field>
      <mat-form-field mat-select-trigger=""  appearance="fill">
        <mat-label>resource name</mat-label>
        <input [formControl]="firstFormGroup.controls.resourceName" matInput #input maxlength="50" required>

        <!--        <mat-error *ngIf="resourceControl.hasError('required')">Please choose a resource</mat-error>-->
        <mat-hint>{{resourceControl.value?.logicalName}}</mat-hint>
      </mat-form-field>

      <!--end of first select -->
      <div>
        <button mat-button matStepperNext (click)="printPros()">Next</button>
      </div>
    </form>

    <!------------------------------------------------------------------------------------------------------------  resource type-->
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">

    <ng-template matStepLabel>choose properties</ng-template>
    <mat-list role="list">
      <mat-list-item *ngFor="let property of (resource.properties)| keyvalue" role="listitem">
        <div class="example-container">

          <mat-form-field appearance="fill">
            <mat-label>Property Name</mat-label>
            <mat-select value="{{property.key}}" disabled>
              <mat-option value="{{property.key}}">{{property.key}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>value</mat-label>
            <input matInput #input maxlength="10" value="{{property.value}}" disabled>
          </mat-form-field>
        </div>
      </mat-list-item>
      <!------------------------------------------------------------------------------------------------------------  add property-->
      <div id="addProperty">
        <form [formGroup]="secondFormGroup">
          <mat-form-field appearance="fill">
            <mat-label>property Name</mat-label>
            <mat-select [formControl]="secondFormGroup.controls.key">
              <mat-option *ngFor="let property of properties| keyvalue"
                          value="{{property.key}}">{{property.key}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-radio-group *ngIf="existingResources.length>0||params.size>0" id="valueType" (change)="onRadioChange()"
                           color="primary"
                           [formControl]="secondFormGroup.controls.type">
            <mat-radio-button value="{{null}}">direct</mat-radio-button>
            <mat-radio-button *ngIf="params.size>0" value="parameter">parameter</mat-radio-button>
            <mat-radio-button *ngIf="existingResources.length>0" value="resource">resource</mat-radio-button>
          </mat-radio-group>

          <mat-form-field *ngIf="secondFormGroup.value.type==''||secondFormGroup.value.type==null || secondFormGroup.value.type=='direct'" appearance="fill">
            <mat-label>property Value</mat-label>
            <input [formControl]="secondFormGroup.controls.value" matInput #input maxlength="50">
          </mat-form-field>

          <mat-form-field *ngIf="secondFormGroup.value.type=='parameter'" appearance="fill">
            <mat-label>Parameter Name</mat-label>
            <mat-select [formControl]="secondFormGroup.controls.value">
              <mat-option *ngFor="let parameter of params|keyvalue" value="{{parameter.key}}">{{parameter.key}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="secondFormGroup.value.type=='resource'" appearance="fill">
            <mat-label>Resource Name</mat-label>
            <mat-select [formControl]="secondFormGroup.controls.value">
              <mat-option *ngFor="let resource of existingResources" value="{{resource.name}}">{{resource.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-flat-button id="addPropertyButton" (click)="addProperty()">


            <mat-icon>add</mat-icon>
          </button>
        </form>
      </div>
    </mat-list>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>

  </mat-step>
  <!------------------------------------------------------------------------------------------------------------  add tags -->
  <mat-step [stepControl]="secondFormGroup">

    <ng-template matStepLabel>add tags</ng-template>
    <mat-list role="list">
      <mat-list-item *ngFor="let tag of resource.tags| keyvalue" role="listitem">
        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>tag name</mat-label>
            <input matInput #input maxlength="10" value="{{tag.key}}" disabled>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>value</mat-label>
            <input matInput #input maxlength="10" value="{{tag.value}}" disabled>
          </mat-form-field>

        </div>
      </mat-list-item>
      <div id="addTagsStep">
        <form [formGroup]="tagsFormGroup">
          <mat-form-field appearance="fill">
            <mat-label>Tag Name</mat-label>
            <input [formControl]="tagsFormGroup.controls.key" matInput #input maxlength="50">
            <mat-hint align="end">{{input.value.length}}/50</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Tag Value</mat-label>
            <input [formControl]="tagsFormGroup.controls.value" matInput #input maxlength="50">
            <mat-hint align="end">{{input.value.length}}/50</mat-hint>
          </mat-form-field>

          <button mat-flat-button id="addTagButton" (click)="addTag()">

            <mat-icon>add</mat-icon>
          </button>
        </form>
      </div>
    </mat-list>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button (click)="submitA()">Done</button>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>

